

.root{
    position: fixed;
    bottom: 0;
    z-index: 200;
    background-color: steelblue;
    padding: 10px 80px;
    color: white;
    width: 167%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

