.sign-in-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        color: black;
    }

    .form-buttons-container {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 16px;
    }

    label {
        color: var(--text-color);
    }
}