@import '../../styles/mixins';

.button {
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);

    @include hover {
        border: 1px solid var(--tmdb-primary);
        background-image: var(--tmdb-gradient);
    }

    &.nav-link {
        text-align: center;
        display: block;
    }

    &.medium-size {
        // width: 50%;
        max-width: 200px;
    }

    &.small-size {
        // width: 25%;
        max-width: 130px;
    }

    &.circle {
        border: none;
        padding: 2px 8px;
        border-radius: 100%;

        @include hover {
            background-color: var(--tmdb-gray);
            color: var(--tmdb-primary);
            background-image: none;
        }
    }

    &.avatar {
        width: 40px;
        height: 40px;
        max-width: 40px;
        max-height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(black, black) padding-box,
            linear-gradient(to right, darkblue, darkorchid) border-box;
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.gradient-fill {
        border: 1px solid var(--tmdb-primary);
        background-image: var(--tmdb-gradient);

        @include hover {
            border: 1px solid var(--border-color);
            border-radius: 4px;
            color: var(--text-color);
            background-image: none;
        }
    }

    &.no-border {
        border: none;

        @include hover {
            border: none;
            background-image: none;
            color: var(--tmdb-secondary);
        }
    }

}