.avatars {
    .avatar-selection {
        display: flex;
        justify-content: space-between;


        .img-container {
            width: 16rem;

            &:not(:first-child, :last-child) {
                margin-left: 4px;
                margin-right: 4px;
            }
        }


    }

    img {
        width: 300px;
        height: 400px;
    }
}