.hero-container {
    position: relative;

    img {
        margin: auto;
        width: 100%;
    }

    .hero-content-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        max-width: 75%;

        .hero-content {
            padding-left: 72px;
        }
    }
}

.mobile-hero-container {
    width: 100%;
    margin-bottom: 16px;
    position: relative;

    .row {
        display: flex;
        white-space: nowrap;
        animation-name: move;
        animation-iteration-count: infinite;
        animation-direction: right;
        animation-timing-function: linear;

        @for $i from 0 through 3 {
            &.row-#{$i} {
                @if($i ==0) {
                    animation-duration: 30s;
                }

                @else if($i ==1) {
                    animation-duration: 40s;
                }

                @else if($i ==2) {
                    animation-duration: 20s;
                }

                @else if($i ==3) {
                    animation-duration: 50s;
                }
            }
        }

        .img-container {
            min-width: 128px;
            min-height: 72px;
            margin-right: 16px;
        }
    }

    .mobile-resume-button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@keyframes move {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -100%;
    }
}