@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin all-text {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @content;
    }
}

@mixin gradient-text {
    background: -webkit-linear-gradient(var(--tmdb-secondary), var(--tmdb-teriary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin hover {
    &:not([disabled]):hover {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin bullet {
    position: relative;
    padding-left: 20px;

    &::before {
        content: '\2022';
        line-height: 1;
        font-size: 1.1em;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 8px;
        z-index: -1;
    }
}