@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute_full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin gradient-text {
    background: -webkit-linear-gradient(var(--tmdb-secondary), var(--tmdb-teriary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin hover {
    &:not([disabled]):hover {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}