@import './mixins';

.profile-container {
    height: 100%;
    margin: 24px -60px 0 -60px;
    position: relative;

    .blurry-gradient {
        background-color: #2c21ab;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -20%);
        width: 400px;
        height: 400px;
        border-radius: 50%;
        filter: blur(200px);
        opacity: 0.7;

        &.avatar-0 {
            background: linear-gradient(to bottom left, #0392ff, #041A45);
            opacity: 1;
            right: 70%;
            filter: blur(200px);
        }

        &.avatar-1 {
            background: linear-gradient(to bottom left, #36F34C, #106C00);
            opacity: 1;
            filter: blur(200px);
        }

        &.avatar-2 {
            background: linear-gradient(to bottom left, #FEDD35, #DD5508);
            opacity: 1;
            right: 20%;
            filter: blur(200px);
        }
    }

    .drag-n-drop-container {
        color: whitesmoke;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        border: 5px dashed whitesmoke;
        border-radius: 4px;
        @include flex_center;
        flex-direction: column;
        position: relative;
        z-index: 1;

        .file-title {
            margin-bottom: 16px;
        }

        &.drag-active {
            border: 5px dashed #FEDD35;
        }

        .drag-file-element {
            @include absolute_full;
        }

        @include tablet {
            width: 100%;
        }
    }

    .upload-file-label {
        background-color: indigo;
        padding: 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        z-index: 1;
    }

    @include tablet {
        margin: 0;
    }
}