.sign-up-container {
    color: var(--text-color);
    text-align: center;

    .sign-up-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 16px auto 0 auto;
        width: 50%;
    }
}