.tv-shows-container {
    justify-content: center;
}

.sort-menu {
    padding-right: 4px;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
}

.tv-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
}