.tv-shows-container {
    display: flex;
    justify-content: center;
}

.sort-menu {
    width: 300px;
    max-width: 350px;
    height: auto;
    border: 0.5px solid red;
}

.tv-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
}