.tv-shows-container {
    display: flex;
    color: red;
}

.sort-menu {
    width: 350px;
    height: 100%;
    background-color: red;
}

.tv-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}