@import '../../styles/mixins';

.resume-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    margin-bottom: 100px;

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration-color: var(--tmdb-secondary);
        }
    }

    .column1 {
        position: relative;

        h2 {
            text-transform: uppercase;
        }

        .position {
            text-transform: none;
            @include gradient-text;
        }

        &:not(:first-of-type) {
            &::after {
                content: '';
                width: 16px;
                height: 2px;
                background: var(--border-color);
                position: absolute;
                top: -4px;

                @include tablet {
                    display: none;
                }
            }
        }
    }

    .column2 {
        border-top: solid 2px var(--border-color);
        grid-column-start: 2;
        grid-column-end: 5;
        text-align: end;

        h3,
        h4 {
            @include gradient-text;
        }
    }

    .description-list {
        list-style-type: disc;
        text-align: start;
        padding-left: 16px;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        .column1 {
            text-align: center;
            border-top: solid 2px var(--border-color);

        }

        .column2 {
            text-align: center;
            border-top: none;


            h3 {
                &:last-of-type {
                    text-align: left;
                }
            }

            h4 {
                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}