.layout {
    height: 100vh;
    background-color: #000;
    color: aliceblue;
    overflow: auto;

    .logout-btn {
        border: 1px solid white;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}