@import '../../styles/mixins';

.layout {
    height: 100vh;
    background-color: var(--tmdb-black-bg);
    color: var(--text-color);
    overflow: auto;

    .main {
        position: relative;
        z-index: 0;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}