@import '../../styles/mixins';

.card-container {
    width: 160px;
    min-width: 160px;
    display: flex;
    flex-direction: column;

    .image-container {
        display: block;
        width: 100%;
        position: relative;

        img {
            object-fit: fit;
            min-height: 100%;
            border-radius: 8px;
        }
    }

    .card-overlay {
        @include absolute-full;
        @include flex-center;
        flex-direction: column;
        background-color: rgba(122, 122, 122, 0.6);
        border-radius: 8px;
    }
}