@import '../../styles/mixins';

.card-container {
    width: 160px;
    min-width: 160px;
    display: flex;
    flex-direction: column;

    .image-container {
        display: block;
        width: 100%;
        position: relative;

        img {
            object-fit: fit;
            min-height: 100%;
            border-radius: 8px;
        }

        .card-overlay {
            @include absolute-full;
            @include flex-center;
            flex-direction: column;
            background-color: rgba(122, 122, 122, 0.6);
            border-radius: 8px;

            .favorite-container {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }


    .rate-container {
        position: absolute;
        right: 0;
        bottom: -20px;
        color: aliceblue;
        opacity: 0.7;
    }
}