@import '../../styles/mixins';

.card-container {
    display: flex;
    flex-direction: column;
    position: relative;

    &.landscape {
        .image-container {
            width: 300px;
            min-width: 300px;
            height: calc(300px/1.78);
        }
    }

    .image-container {
        display: block;
        width: 160px;
        min-width: 160px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;

        img {
            min-height: 100%;
        }

        .card-overlay-wrapper {
            width: 100%;
            height: 100%;

            .favorite-container {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .card-overlay {
            @include absolute-full;
            @include flex-center;
            flex-direction: column;
            background-color: rgba(122, 122, 122, 0.6);
            border-radius: var(--border-radius);
        }

    }

    .title-container {
        height: 3.5rem;
        width: 160px;
        min-width: 160px;
        overflow: hidden;
    }

    .rate-container {
        position: absolute;
        right: 0;
        bottom: 20px;
        color: var(--text-color);
    }
}