.card-slider-container {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: transparent;
    z-index: 2;
    // border: 1px solid red;

    .scroll-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }

    .contents {
        // height: 284px;
        height: fit-content;
        display: flex;
        align-items: flex-end;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }

        /* IE and Edge */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
    }
}