@mixin dynamicArrowColor($direction) {
    background-image: linear-gradient(to #{$direction}, rgba(255, 255, 255, 0), #00bfff);
    opacity: 0.8;
}

.card-slider-container {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    background-color: transparent;

    .scroll-button {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        color: aliceblue;
        z-index: 1;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }

        &:hover {
            &.left {
                @include dynamicArrowColor(left);
            }

            &.right {
                @include dynamicArrowColor(right);
            }
        }
    }

    .contents {
        height: 284px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}