@import '../../styles/mixins';

.header-container {
    width: 100%;
    background-color: var(--tmdb-dark-bg);
    position: fixed;
    top: 0;
    z-index: 1;

    .header-inner-container {
        display: flex;
        position: relative;

        &.mobile {
            justify-content: center;
            padding: 12px 0 12px;
        }

        .logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;

            .mobile-logo-img {
                max-height: 40px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .header-list {
            display: flex;

            li {
                padding: 16px;
            }
        }

        .initial-container {
            width: 40px;
            height: 40px;
            background-color: var(--tmdb-gray);
            color: var(--tmdb-primary);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .profile-action-link {
            position: absolute;
            right: 1rem;
            top: 0;
            bottom: 0;
            @include flex-center;
        }
    }
}