@import '../../styles/mixins';

.header-container {
    width: 100%;
    background-color: var(--tmdb-dark-bg);
    position: fixed;
    top: 0;
    z-index: 1;

    .header-inner-container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        .header-contents {
            display: flex;
            align-items: center;

            .logo-container {
                width: 10rem;
                margin-left: 16px;
            }
        }

        .header-list {
            display: flex;

            li {
                padding: 16px
            }
        }

        .initial-container {
            width: 40px;
            height: 40px;
            background-color: lightgray;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .profile-action-link {
            @include flex_center;
        }
    }

    @include tablet {
        .header-inner-container {
            .header-contents {
                flex-direction: column;
                align-items: start;

                .logo-container {
                    margin-top: 16px;
                }
            }
        }
    }
}