@import '../../styles/mixins';

.content-hero-container {
    height: 520px;
    position: relative;

    .image-background {
        height: 100%;

        background-repeat: no-repeat;
        background-position: left calc((50vw - 170px) - 340px) top;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(9, 9, 9, 0.7);
    }

    .content-container {
        padding: 30px 0;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;

        .poster-container {
            width: 300px;
            min-width: 300px;
            height: 450px;
            border-radius: 4px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .content-info {
            padding-left: 20px;

            .facts {
                .rating {
                    border: 1px solid var(--tmdb-gray);
                    border-radius: 2px;
                    padding: 2px;
                    color: rgba(255, 255, 255, 0.6);
                }

                .genres,
                .runtime {
                    @include bullet;
                }
            }

            .tagline {
                color: var(--tmdb-gray);
                font-style: italic;
            }
        }
    }
}